@model List<ShoppingApp.DTO.CartDTO>
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>
<table width="100%">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Product Price</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cart in Model)
        {
            <tr>
                <td>@cart.ProductName</td>
                <td>@cart.Quantity</td>
                <td>@cart.ProductPrice</td>
                <td>@cart.Price $</td>
            </tr>
        }
    </tbody>

</table>

<div>
    <h2>
        Total:  <span style="padding-left:80%"> @Model.Sum(x => x.Price) $</span>
    </h2>
</div>



<div>
    <p>Product added to cart successfully!</p>
    <p>What would you like to do next?</p>
    <p><a href="@Url.Action("Index", "Home")">Continue Shopping</a></p>
    <p><a href="@Url.Action("ViewCart", "Cart")">View Cart</a></p>
</div>